/* در فایل global یا داخل کامپوننت با style jsx */

.slide-left-enter {
    animation: slideLeftIn 0.3s forwards;
}

.slide-left-exit {
    animation: slideLeftOut 0.3s forwards;
}

@keyframes slideLeftIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeftOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}
